.Card {
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.2);
  margin: 5px;
  margin-bottom: 0;
  width: 200px;
  height: 300px;
  & img {
    height: 100px;
    width: 80px;
    margin: auto;
  }
  & hr {
    width: 95%;
    margin: auto;
    margin-top: 20px;
  }
  & .Card-container_image {
    position: relative;
    display: flex;
    padding-top: 5px;
    & .Card-sellos {
      position: absolute;
      right: 5px;
    }
  }
  & .Card-body_header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 0.7rem;
    & span:first-child {
      color: rgb(0, 186, 99);
    }
    & span:last-child {
      color: white;
      padding: 5px;
      border-radius: 2rem;
      width: 60px;
      text-align: center;
      background-color: rgb(7, 148, 116);
    }
  }
  & .Card-title {
    padding: 10px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  & .Card-price {
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    & .Card-symbol {
      color: rgb(0, 186, 99);
    }
    & .Card-units{
      font-size: 0.8rem;
      color:gray;
      font-weight: normal;
    }
  }
}
.Card-container {
  width: 200px;
  &:hover {
    .Card-button {
      display: block;
    }
  }
  .Card-button {
    border: none;
    background-color: rgb(0, 186, 99);
    width: 200px;
    margin-left: 5px;
    color: white;
    padding: 5px;
    display: none;
  }
}
