.bg-green {
  background-color: rgb(0, 186, 99);
}

.Header-search {
  border: none;
  border-radius: 40px;
  width: 60%;
  margin-left: 10%;
}

.Header-body {
  color: white;
  font-size: 1.25rem;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  & button {
    background: none;
    color: white;
    border: none;
  }
}

.Header-container_image {
  display: flex;
  & .Header-container_text{
    & p{
    margin-block-end: 0;
      margin-bottom: 0;
    }
    & span {
      font-size: 0.8rem;
      color: gray;
    }
  }
  & .Header-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
}
