.Home {
  width: 80%;
  margin-left: 10%;
  & .slick-list{
padding: 40px;
  }
  & .slick-prev,
  .slick-next {
    font-size: 15px !important;
    color: rgb(0, 186, 99) !important;
  }
  & .slick-prev:before,
  .slick-next:before {
    content: "" !important;
  }
}
.modal.show .modal-dialog{
  margin: 0;
}
.modal-content{
  width: 80vw;
  height: 100vh;
  margin-left: 20vw;
}
