.Sellos {
  margin-right: 10px;
  display: flex;
  position: relative;
  & img {
    width: 25px;
    height: 25px;
  }
  &:hover .Sellos-tooltip {
    display: block; 
    background-color: rgb(0,80,95);
    color:white;
    position: absolute;
    left: 30px;
    top: -20px;
    width: 100px;
    font-size: 0.8rem;
    padding-left: 20px;
    border-radius: 3px;
    clip-path: polygon(
      10% 0,
      100% 0%,
      100% 75%,
      100% 100%,
      0 100%,
      5% 96%,
      10% 92%
    );
    & .Sellos-title{
      color: rgb(168, 140, 88);
      font-weight: bold;
    }
  }
  .Sellos-tooltip{
    display: none;
  }
}
